body {
    background-color: #310151dd;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #555;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff69b4;
    font-size: 3em;
}

form {
    margin: 20px 0;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff85c0;
}

#books {
    margin-top: 20px;
}
